In [1]:
import pandas as pd
pd.set_option("display.max_columns", False)
pd.set_option("display.max_colwidth", False)

In [5]:
covid = pd.read_csv("covid.csv", dtype=str, sep=";")
covid.sample(10)

      cases  ... Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
47649  356   ...  116.7759459
7376   2     ...  0.18769755
6678   4     ...  NaN
47893  32    ...  1.35878165
50315  3     ...  0.60761044
52359  7     ...  4.11333532
27106  2     ...  0.48086351
51559  2079  ...  243.3295173
39373  13    ...  8.849675
58830  6388  ...  78.81527185

[10 rows x 5 columns]

In [ ]:
obesidad = pd.read_csv("obesidad.csv", dtype=str, sep=";")
obesidad.sample(10)